<header>
  <h4><%= link_to 'Listing', root_path, class: "title"%></h4>
  <!-- Login / LogOut option-->
  <% if user_signed_in? %>
    <p class="bouton_log out">
      <%= link_to t("logout"), destroy_user_session_path, method: :delete, class:"font-weight-bold"  %>
    </p>
    <p class="bouton_log">
      <%= link_to t("homepage.account"), edit_user_registration_path, method: :get, class:"font-weight-bold"  %>
    </p>
  <% else %>
    <p class="bouton_log in">
      <%= link_to t("login"), new_user_session_path, class:"font-weight-bold"  %>
    </p>
  <% end %>
  <label class="the_selector">
    <select data-do="select_language" class="form-control language" onchange="window.location.href = this.value">
      <% I18n.available_locales.each do |loc| %>
        <option value="<%= url_for(locale: loc.to_s) %>"
                <%= "selected" if I18n.locale == loc %>>
            <%= loc.upcase %>
        </option>
      <% end %>
    </select>
  </label>
  <h4> <%= link_to t("homepage.create"), new_listing_path , class:"btn btn-success homeSearch green_button' " %></h4>
</header>