<style>
  nav {
    opacity: inherit !important;
  }
</style>
<div>
      <% @listing.each do |listing| %>
        <div>
          <div><%= listing.titre %></div>
          <div class="row">
            <div><%= listing.created_at %></div>
            <div><%= listing.category.nom %></div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <% if listing.picture && listing.picture.file %>
                <%= image_tag(listing.picture.file.url(:original), class: "col-md-10 rounded mx-auto d-block") %>
              <%end %>
            </div>
            <div>
              <div><%= listing.description %></div>
              <div class="row justify-content-between">
                <div class="col-4">
                  <%= listing.prix %>
                </div>
                <div class="col-4">
                  <% if user_signed_in? %>
                    <%= link_to t("plug"), "/" , class:"btn btn-success" , data: {toggle:"modal",target:"#exampleModal"} %>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <%= form_for @message , url:messages_en_path  do |f| %>
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%= t("message") %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <%= f.text_area :contenu, class: "form-control input-lg", placeholder: t("content") %>
                              <%= f.hidden_field :vendeur , :value => listing.user_id %>
                              <%= f.hidden_field :listing_id, :value => listing.id %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("close") %></button>
                              <%= f.submit t("submit"), {class:'btn btn-success'} %>
                            </div>
                          </div>
                        </div>
                      <%end %>

                    </div>
                  <% else %>
                    <%= link_to "Login", new_user_session_path, class:"btn btn-success"  %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
</div>